.auth-page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/gaming-competition-moment-teams-facing-each-other-concentration-moment-finals-esports-scaled.jpg') no-repeat center center/cover;
    position: relative;
}

.auth-page::before {
    content: "";
    position: absolute;
    top: -320px;
    left: -320px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.form {
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    opacity: 0.95;
    max-width: 400px;
    padding: 30px 50px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

.form p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form input {
    outline: 0;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    border: 0;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
}


.form .auth-input {
    background-color: #E0F7FA;
}

.form .auth-input:hover,
.form .auth-input:focus {
    background-color: #99e0e2;
    transition: all 0.3s ease;
}

.auth-btn-submit {
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    background: #1ADBE5;
    width: 100%;
    height: 50px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.auth-btn-submit:hover,
.auth-btn-submit:active,
.auth-btn-submit:focus {
    background-color: #008993;
}

.form .message {
    margin-top: 20px;
    color: #B3B3B3;
    font-size: 14px;
}

.form .message a {
    color: #06C5CF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.form .message a:hover {
    color: #1ADBE5;
}