.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../public/images/landscape.jpg') no-repeat center center/cover;
  padding: 20px;
}

.form-box {
  background: rgba(270, 198, 198, 0.4);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #444;
  margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input[type="text"]:hover,
.input-group input[type="date"]:focus {
  border-color: #007bff !important;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.6) !important;
}

.radio-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.radio-container input {
  display: none;
}

.radio-container label {
  padding: 8px 14px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #fff;
}

.radio-container label:hover {
  background: #4ec1f7;
  border-color: #2685ea;
}

.radio-container input:checked + label {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
  font-weight: bold;
}

.input-group input[type="file"] {
  display: none;
}

.input-group label[for="game-cover"] {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
  margin-right: 20px; /* Space between label and image */
}

.input-group label[for="game-cover"]:hover {
  background-color: #0056b3;
}

.input-field:focus {
  background-color: #c6ddf5;
  border-color: #007bff !important;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.6) !important;
}


.cover-preview {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #66fcf1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-top: 10px;
}


.submit-btn {
  width: 100%;
  background: #007BFF;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 9px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background: #0056b3;
}

@media (max-width: 768px) {
  .form-box {
    padding: 20px;
  }

  .radio-container {
    flex-direction: column;
    gap: 8px;
  }
}
