.footer-bottom {
    width: 100%;
    color: #d6d6d6;                
    text-align: center;
    margin: -5px 0;               
    font-size: 0.9rem;    
}

.footer-bottom p {
    margin: -30px;        
    padding: 5px 0;     
    opacity: 0.8;                
    letter-spacing: 0.5px;      
}

@media (max-width: 768px) {
    .footer-bottom {
        padding: 10px 0;
        font-size: 0.8rem;    
    }
}
