html,
body,
#root,
.app-container {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color:  rgb(140, 140, 140);
}

.main-content {
    flex: 1;
    margin-top: 25px;   
    margin-bottom: 0px; 
    padding-top: 40px;        
}